html, body, #app {
  background: dodgerblue;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

.calculator {
  font-family: monospace;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 400px;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid white;
  border-radius: 10px;
  padding: 10px;
}

.calculator .display {
  font-size: 2rem;
  justify-content: center;
  background-color: white;
  align-items: center;
  color: dodgerblue;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  height: 80px;
  padding: 0 10px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.calculator .display .error {
  text-align: center;
  font-size: 1rem;
  color: red;
  width: 100%;
}

.calculator .display .input {
  text-align: right;
}

.calculator .display .input .small {
  font-size: 1rem;
}

.calculator .buttons {
  flex: 1;
  width: 100%;
  grid-gap: 10px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  justify-items: center;
  align-items: center;
}

.calculator .buttons .button {
  transition: 0.25s background;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255,255,255, 0.1);
  border: 1px solid white;
  color: white;
  font-size: 1.5rem;
  border-radius: 5px;
  width: 100%;
  height: 100%;
}

.calculator .buttons .button:hover {
  background: rgba(255,255,255, 0.3);
}

.calculator .buttons .button.small {
  grid-column: 1fr;
  grid-row: 1fr;
}

.calculator .buttons .button.vertical-large {
  grid-column: span 1;
  grid-row: span 2;
}

.calculator .buttons .button.horizontal-large {
  grid-column: span 2;
  grid-row: span 1;
}